body {
    background-image: linear-gradient(to bottom,
            rgb(0, 0, 0),
            rgba(0, 0, 0, 0.386)), url("../assets/pars-sahin-mjQpWnLzKD0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}