<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home-style.css">

<body>
    <div class="container  text-center">
        <h1>CampSite Explorer</h1>
        <h2>Discover the Great Outdoors!</h2>
            <p>Explore the best campsites and outdoor adventures with Campsite Explorer.</p>
    </div>
</body>