<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Data :</h1>
    <form method="POST" action="/campgrounds/<%= dataCamp._id %>?_method=PUT">
        <label for="title">Campground Title : </label>
        <input type="text" name="title" id="title" placeholder="type here" value="<%= dataCamp.title %>">
        <label for="location">Location : </label>
        <input type="text" name="location" id="location" placeholder="type here" value="<%= dataCamp.location %>">
        <button>submit</button>
    </form>
    <a href="/campgrounds">Back</a>
</body>

</html>