<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Campground</title>
</head>

<body>
    <h1>Create :</h1>
    <form method="POST" action="/campgrounds">
        <label for="title">Campground Title :</label>
        <input type="text" name="title" id="title" placeholder="type here">
        <label for="location">Location : </label>
        <input type="text" name="location" id="location" placeholder="type here">
        <button>submit</button>
    </form>
    <a href="/campgrounds">Back</a>
</body>

</html>